/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #varius-api-connection-test-result.success { font-size: x-large; color: green; }
 #varius-api-connection-test-result.danger { font-size: x-large; color: red; }

 .button.spin {
    padding-right: 28px;
    background: url(/wp-admin/images/loading.gif) no-repeat right 5px center !important;
 }